body {
  background-color: grey;
}
h1{
  color: #66bfbf;
}

h3{
  color: #66bfbf;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
<style>

body {
background-color: blue;
}

hr {
background-color: white;
border-style: dotted;
height: 2px;
width: 30%;
}
img {
height: 100%;
}
</style>
